# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
# /out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#zone identifiers
*:Zone.Identifier
*.Identifier
*.Identifier
out/favicon.ico:Zone.Identifier
out/matt-headshot.jpg:Zone.Identifier
out/work/charleys/charleys-bg-2.webp:Zone.Identifier
out/work/charleys/charleys-bg-3.webp:Zone.Identifier
out/work/charleys/charleys-logo.svg:Zone.Identifier
out/work/lumos/family-using-vr-headset-optimized-1.webp:Zone.Identifier
out/work/lumos/logo.svg:Zone.Identifier
out/work/truebotanicals/true-botanicals-bg.webp:Zone.Identifier
out/work/truebotanicals/true-botanicals-logo-2.png:Zone.Identifier
out/work/truebotanicals/true-botanicals-logo.webp:Zone.Identifier
out/work/wellnesspet/wellness-logo.png:Zone.Identifier
out/work/wellnesspet/wellness-pet-bg.jpg:Zone.Identifier
public/favicon.ico:Zone.Identifier
public/matt-headshot.jpg:Zone.Identifier
public/work/charleys/charleys-bg-2.webp:Zone.Identifier
public/work/charleys/charleys-bg-3.webp:Zone.Identifier
public/work/charleys/charleys-logo.svg:Zone.Identifier
public/work/lumos/family-using-vr-headset-optimized-1.webp:Zone.Identifier
public/work/lumos/logo.svg:Zone.Identifier
public/work/truebotanicals/true-botanicals-bg.webp:Zone.Identifier
public/work/truebotanicals/true-botanicals-logo-2.png:Zone.Identifier
public/work/truebotanicals/true-botanicals-logo.webp:Zone.Identifier
public/work/wellnesspet/wellness-logo.png:Zone.Identifier
public/work/wellnesspet/wellness-pet-bg.jpg:Zone.Identifier
